@import "./colors";
@import "./settings";

.header-container {
    display: flex;

    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    margin-top: 0px;
    align-items: center;
    margin-bottom: 50px;
}

.header-logo {
    display: flex;
}

.logo {
    display: flex;
    color: #75e9e5;
    font-weight: bolder;
}
#logout-btn {
    background: none;
    border: none;
    cursor: pointer;
}
#logout-btn-icon {
    color: $rouge;
    display: flex;
    height: 30px;
    width: 30px;
    margin: 35px;
}

p {
    color: $rouge;
}
